{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Available Properties</h1>
    <a href="{% url 'properties:property_create' %}">Add Property</a>
    
    <div class="row">
        {% for property in properties %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ property.title }}</h5>
                    <p>Bedrooms: {{ property.bedroom_count }}</p>
                    <p>Price: ${{ property.usd_rate }}</p>
                    <p>Location: {{ property.location.title }}</p>
                    <a href="{% url 'property_detail' property.id %}" class="btn btn-info">View Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}